{
  "extends": ["airbnb", "prettier", "prettier/react", "prettier/flowtype"],
  "globals": {
    "queryTree": false
  },
  "plugins": ["react", "react-native", "flowtype", "prettier"],
  "env": { "es6": true, "jest": true },
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "singleQuote": true,
        "bracketSpacing": true,
        "tabWidth": 2
      }
    ],
    "react/forbid-prop-types": 0,
    "no-console": 0,
    "import/no-unresolved": [
      2,
      {
        "ignore": ["^react$", "^react-native$", "^react-native/"]
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-bitwise": [
      "error",
      {
        "allow": ["^"]
      }
    ],
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "react-native/no-inline-styles": 2,
    "react-native/no-unused-styles": 2
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".android.js", ".ios.js"]
      },
      "babel-module": {}
    },
    "node": true
  }
}
